<html>

    <head>
        {% if title %}
        <title>{{ title }} - Microblog</title>
        {% else %}
        <title>Welcome to Microblog!</title>
        {% endif %}
    </head>
    <body>
    
        <div>
            Kricode:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('explore') }}">Explore</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
            {% if current_user.is_authenticated %}
            <p>Hi, {{ current_user.username }}!</p>
            {% endif %}
        </div>

        
        
        <p>#{{  get_flashed_messages() }}</p>
      {% block body %}
      {% endblock %}
    </body>

</html>