<html>

    <head>
        {% if title %}
        <title>{{ title }} - Microblog</title>
        {% else %}
        <title>Welcome to Microblog!</title>
        {% endif %}
    </head>
    <body>
    
        <div>
            Microblog:
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
            {% if current_user.is_authenticated %}
            <p>Hi, {{ current_user.username }}!</p>
            {% endif %}
        </div>

        <h1>Hello, {{ title }}!</h1>
        <h2>BRANCH NAME,{{ other}}</h2>
        <p>#{{  get_flashed_messages() }}</p>
      {% block body %}
      {% endblock %}
    </body>

</html>